# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# Build directories
/build/
/bin/
/dist/

# Editor files
*~
*.swp
*.swo
*.bak

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Visual Studio Code
.vscode/

# CLion
.idea/
cmake-build-*/

# MacOS
.DS_Store